:root{
	--mainColor:#365f87;
	--secondaryColor:#183450;

	--borderColor:#0b1719;

	--mainText:rgb(192, 192, 112);
	--secondaryText:#a2a79d;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;
}
