:root{
	--mainColor:#383c35;
	--secondaryColor:#3d4237;

	--borderColor:#161914;

	--mainText:rgb(176, 145, 60);
	--secondaryText:#a59e9e;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#669966;


}
