:root {
	--mainColor: #ef9595;
	--secondaryColor: rgb(179, 122, 122);

	--borderColor: #030303;

	--mainText: rgb(32, 32, 38);
	--secondaryText: #191f34;

	--themeDotBorder: #275787;
	--previewBg: rgba(134, 123, 92, 0.8);

	--previewShadow: #828079;

	--buttonColor: black;

}
