*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:after,
:before {
  --tw-content: "";
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
}

body {
  margin: 0;
  line-height: inherit;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem;
  line-height: 1.1rem;
}

#main-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.line-above-footer {
  color: black;
  bottom: 2rem;
}

.icon-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}

.photos-container {
  position: absolute;
  font-family: JetBrains Mono, monospace;
  font-size: 0.8125rem;
  line-height: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 70%;
  left: 80%;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  color: black;
}

.blogs-container {
  position: absolute;
  font-family: JetBrains Mono, monospace;
  font-size: 0.8125rem;
  line-height: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 15%;
  left: 85%;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  color: black;
}

.music-container {
  position: absolute;
  font-family: JetBrains Mono, monospace;
  font-size: 0.8125rem;
  line-height: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 55%;
  left: 18%;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  color: black;
}

.me-container {
  position: absolute;
  font-family: JetBrains Mono, monospace;
  font-size: 0.8125rem;
  line-height: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 30%;
  left: 50%;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  color: black;
}

.footer-container {
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  z-index: 30;
  font-family: JetBrains Mono, monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.2px solid rgb(22, 22, 22);
  padding: 10px;
  background-color: #bbbbbb; /* Change this to your desired background color */
}

.photos-container:hover,
.music-container:hover,
.blogs-container:hover,
.me-container:hover {
  transform: scale(1.2);
}

.footer-txt {
  display: block;
  color: #00000080;
  text-decoration: none;
  padding: 0.25rem;
}

.navbar-container {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  z-index: 30;
  font-family: JetBrains Mono, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.2px solid black;
  padding: 10px;
  background-color: #bbbbbb; /* Change this to your desired background color */
}

.footer-txt:hover,
.navbar-txt:hover {
  color: red;
}

.navbar-txt {
  display: block;
  color: #00000080;
  text-decoration: none;
  padding: 0.4rem;
}
