*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:after,
:before {
  --tw-content: "";
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
}

body {
  margin: 0;
  line-height: inherit;
}

#main-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 0.8125rem;
  line-height: 1.1rem;
}

.me-container {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  pointer-events: auto;
  position: relative; /* Set the position of the container to relative */

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px; /* Adjust this value as needed to move the image more towards the top */
  border: 2px solid black; /* Add a 2px solid black border */
  border-radius: 10px; /* Rounded corners with a radius of 10px */
  transition: 0.3s all ease-in-out;
}
.me-container:hover {
  transform: scale(1.2);
}

.text-box {
  position: absolute; /* Position the text box relative to the container */
  text-align: center; /* Center text within the paragraph */
  top: 10%; /* Align the text box to the top of the container */
  left: 80%; /* Position the text box to the right of the image */
  padding: 10px; /* Add padding to the text box */
  border: 2px solid black; /* Add a border to the text box */
  border-radius: 5px; /* Add border-radius to make the corners rounded */
}

.text-box2 {
  position: absolute; /* Position the text box relative to the container */
  text-align: center; /* Center text within the paragraph */
  top: 15%; /* Align the text box to the top of the container */
  left: 75%; /* Position the text box to the right of the image */
  padding: 10px; /* Add padding to the text box */
  border: 2px solid black; /* Add a border to the text box */
  border-radius: 5px; /* Add border-radius to make the corners rounded */
}

.about-me-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8125rem;
  line-height: 1.1rem;
  margin-top: 90px;
}

.navbar-container {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  z-index: 30;
  font-family: JetBrains Mono, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.2px solid black;
  padding: 10px;
  background-color: #bbbbbb; /* Change this to your desired background color */
}

.navbar-txt:hover {
  color: red;
}

.navbar-txt {
  display: block;
  color: #00000080;
  text-decoration: none;
  padding: 0.4rem;
}

/* Styles for the close button */
.close-button {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 30px; /* Adjust as needed */
  z-index: 10; /* Ensure it stays on top */
}

.close-img {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  pointer-events: auto;
}
.close-button img {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px; /* Adjust this value as needed to move the image more towards the top */
  border: 2px solid black; /* Add a 2px solid black border */
  border-radius: 10px; /* Rounded corners with a radius of 10px */
}

.centered-text {
  text-align: center;
  max-width: 700px; /* Optional: Set maximum width for the paragraph */
  margin: auto; /* Center horizontally */
  border: 2px solid black; /* Add a 2px solid black border */
  border-radius: 10px; /* Make the borders rounded with a radius of 10px */
  padding: 20px; /* Add 20px padding around the text */
}

img {
  max-width: 100%;
  height: auto;
}

.font-mono {
  font-family: JetBrains Mono, monospace;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}
